.select {
  font-size: 0.9em;
  font-weight: 500;
  color: rgb(194, 191, 191);
  cursor: pointer;
  background: linear-gradient(to bottom, #472cdd, #5153d6);
  border: none;
  outline: none;
  border-radius: 8px;
}
