.btn {
  border: none;
  border-radius: 16px;
  background: linear-gradient(to bottom, #1e13c2, #325bb4);
  transition: all 0.25s ease;
  outline: none;
  margin: 0 auto;
}

.btn:hover {
  color: #afac05;
}
